NODE_ENV=production
PORT=3000

# Supabase
SUPABASE_URL=https://whrktazrnefnkikaobdr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indocmt0YXpybmVmbmtpa2FvYmRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMjk0ODksImV4cCI6MjA5MTkwNTQ4OX0.1RE-WX-PN_Hdr7qilj_-7bQvqOvD-TCyrCVRuyArSsk

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23li4IYyQd5iLo34Cq
GITHUB_CLIENT_SECRET=c196b31b8e7ef36b2699bca14ac7ade84196b8cd
GITHUB_REDIRECT_URI=https://your-backend-url/auth/github/callback

# JWT Secrets
JWT_SECRET=f2ac0c4d58128375201876f4261c541e0bfd1c6ccb801262a89e660c552600db
REFRESH_TOKEN_SECRET=6ceba5de7f0b68710961c650d4bbfbd2dcb2224a1bb0c88c2372f3fda523c3ad

# Web Portal
WEB_PORTAL_URL=https://your-web-portal-url
